body,h1,ul,h2,p {
    margin: 0;
}

header,footer {
    background-color:  rgb(30, 199, 30);
}

main{
    background-color: rgb(97, 44, 97);
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
}

header img{
    width: 120px;
}

header a{
    margin-left: auto;
}

main > img{
    width: 500px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    padding-top: 3.5em;
}

.intro{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10px;
    margin-top: 10px;
    p{
        max-width: 450px;
    }
}
.img-1{
    grid-column: 1/2;
    grid-row: 1/2 ;
    height: 100%;
      width: 100%;
}
.img-2{
    grid-column: 2/3;
    grid-row: 1/2;
      width: 100%;
      transition-duration: .5s;
      &:hover{
        rotate: 180deg;
      }
}
.img-3{
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    transition-duration: .5s;
    &:hover{
        scale: 1.3;
    }
}

.about{ 
    grid-column: span 2;
    margin-left: 10px;
    margin-top: 10px;
    
}

footer h2{
    padding-left: 10px;
    padding-top: 10px;
}
footer{
    padding-bottom: 1em;
}